.orders-header{

background:#f0fff4;

padding:60px 0;

text-align:center;

}

.orders-page{

padding:70px 0;

background:#f8fafc;

}

.orders-container{

display:flex;

flex-direction:column;

gap:25px;

}

.order-card{

background:#fff;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.order-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.order-products{

margin:20px 0;

line-height:30px;

}

.order-bottom{

display:flex;

justify-content:space-between;

align-items:center;

}

@media(max-width:768px){

.order-top,
.order-bottom{

flex-direction:column;

gap:15px;

text-align:center;

}

}